<h3>
	{{ story.text|capfirst }}
	{% if story.size %}
		: {{ story.size }}
	{% endif %}
</h3>


{% if story.details %}
	<h4>Details</h4>

	{{ story.details|linebreaks }}
{% endif %}


{% if story.comments %}
	<h4>Comments</h4>

	<ul>
		{% for comment in story.comments %}
			<li>{{ comment.text }}</li>
		{% endfor %}
	</ul>
{% endif %}


{% if story.tasks %}
	<h4>Tasks</h4>

	<ul>
		{% for task in story.tasks %}
			<li>{{ task.text }}</li>
		{% endfor %}
	</ul>
{% endif %}	

{% if story.tags %}
	<p>
	{% for tag in story.tags %}
		|&nbsp;{{ tag.name }}&nbsp;
	{% endfor %}
	|
	</p>
{% endif %}
